# Data Science Tools and Ecosystem

In this notebook, Data Science Tools andEcosystem are Summarized

**Objectives:**
* List popular languages for data Science.
* List popular libraries used by data Scientist.
* Some of examples of evaluating artihematic expressions

Some of the popular languages Data Scientists use are:
1. Python
2. R
3. Julia

Some of the most commonly used libraries used by Data  Scientists include:
1. numpy
2. pandas
3. matplotlib

|Data Science Tools|
|------------------|
|JupterNotebook|
|Spyder|
|R Studio|

### Below are a few examples of evaluating  arithematic expressions in python are:

In [2]:
(3*4)+5 #this a simple arithemetic expression to multiply then add integers

17

In [3]:
200/60 #This will convert 200 minutes to hours by dividing by 60

3.3333333333333335

## Author
Anmol Pradhan